body{
    background-color: lightblue;
    text-align: center;
    margin-top: 30px;
}

#wrapper {
    width: 85%;
    height: 80%;
    border-width: 3px;
    border-radius: 1.5px;
    background-color: lightblue;
    text-align: center;
    margin-top: 30px;
}

#head {
    font-size: 50px;
}

#explain {
    font-size: 30px;
}

#startquiz {
    height: 30px;
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    background-color: purple;
    border-radius: 4px;
}

.choice {
    height: 30px;
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    background-color: purple;
    border-radius: 4px;
}

#quiz {
    width: 85%;
    height: 80%;
    border-width: 3px;
    border-radius: 1.5px;
    background-color: lightblue;
    text-align: center;
    margin-top: 30px;
    font: black;
    font-size: 20px;
}

#question {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#choices {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#form {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
#submit {
    height: 30px;
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    background-color: purple;
    border-radius: 4px;
}

#clear {
    height: 30px;
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    background-color: purple;
    border-radius: 4px;
}

#goBack {
    height: 30px;
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    background-color: purple;
    border-radius: 4px;
}